.logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
  z-index: 1;
  width: min(80vw, 300px);
  height: auto;
}

.arrow {
  all: unset;
  position: absolute;
  top: 58%;
  transform: translateY(-50%);
  left: 0;
  cursor: pointer;
  z-index: 1;
  padding: 1rem;
}

.right {
  right: 0.3rem;
  left: auto;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slide {
  width: 100%;
  height: 100%;
  overflow: clip;
  position: absolute;
}

.slide:not(.active) {
  opacity: 0;
}

.slide.active {
  opacity: 1;
}

.mcontainer,
.mcontainer main {
  height: 100vh;
  width: 100vw;
  overflow: clip;
}

.mimage {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding: 0 1rem;
}
