.project {
  display: flex;
  overflow: clip;
  margin: 1rem;
}

.project > * {
  min-width: 0;
  height: auto;
}

.image {
  transition: transform 0.2s;
  object-fit: cover;
}

.image:hover {
  transform: scale(1.2);
}

.text {
  background-color: var(--light-grey);
  padding: 0.8rem;
  z-index: 1;
  height: 650px;
  width: auto;
  min-width: auto;
}

@media (max-width: 1000px) {
  .text {
    display: none;
  }
}
