.project {
  display: flex;
  overflow: clip;
  margin: 1rem;
  background-color: #ebebed;
}

.project > * {
  min-width: 0;
  height: auto;
}

.image {
  transition: transform 0.2s;
  object-fit: cover;
}

.text {
  background-color: var(--light-grey);
  padding: 0.8rem;
  z-index: 1;
  height: min(70vh, 650px);
  width: auto;
  min-width: auto;
}

@media (max-width: 1000px) {
  .text {
    display: none;
  }
}
