.root {
  position: relative;
  margin: 0 1rem;
  padding: 1rem 0;
  height: 96vh;
}

.container {
  overflow: hidden;
  margin-right: 50px;
  height: 100%;
}

.slider {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
  min-height: 0;
  min-width: 0;
  flex-direction: row;
  gap: 1rem;
  transition: transform 1s;
}

.photo {
  width: auto !important;
  position: relative !important;
}

.arrow {
  all: unset;
  position: absolute;
  top: 55%;
  left: -65px;
  cursor: pointer;
}

.right {
  right: -1.4rem;
  top: 56%;
  left: auto;
}

.close {
  position: absolute;
  top: 0;
  right: -1.8rem;
}

.close > img {
  padding-left: 0.5rem;
}

@media (max-width: 1000px) {
  .root {
    height: auto;
  }
  .arrow {
    display: none;
  }
  .container {
    margin: 2.5rem 1rem 1rem;
    overflow-x: hidden;
  }
  .slider {
    display: grid;
    height: auto;
  }
  .photo {
    height: auto !important;
    width: 100% !important;
  }
  .text {
    width: 112%;
    margin: 0 -6%;
    height: auto;
    margin-bottom: 5rem;
  }
  .close {
    top: -2.5rem;
    right: -0.3rem;
  }
}
