.container {
  display: flex;
  padding: 1rem;
}

@media (min-width: 1001px) {
  .container {
    margin: 0 max(0px, calc(50vw - 1000px));
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 0 0 250px;
  margin: 1rem;
  min-width: 0;
  gap: 2rem;
  position: fixed;
}

.logo {
  width: min(60vw, 260px);
  height: auto;
}

.main {
  width: 100%;
  min-width: 0;
  margin-left: 290px;
}

.menu {
  all: unset;
  cursor: pointer;
  color: var(--light-grey);
}

.menu > img {
  position: relative;
  right: -10%;
}

.menuItems {
  display: grid;
  grid-template-rows: 28px 26px 23px;
  justify-content: center;
  gap: 1rem;
}

.menuItems :nth-child(3) {
  margin-top: 7%;
}

.menuItem {
  height: 100%;
  display: flex;
  justify-content: flex-end;
}

.menuItem > img {
  width: auto;
  height: 100%;
}

@media (min-width: 1001px) {
  .menuItems :nth-child(2) {
    margin-right: 5px;
  }
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .nav {
    flex-direction: row;
    flex: unset;
    align-items: center;
    justify-content: space-between;
    position: unset;
  }

  .main {
    margin: 0;
  }

  .menuItems {
    position: absolute;
    top: 115px;
    left: 0px;
    width: 100%;
    align-items: center;
    background-color: white;
    padding: 1rem 0 2rem;
    z-index: 1;
    grid-template-rows: 36px 32px 30px;
  }

  .menuItem {
    justify-content: center;
  }
}
