.container {
  display: flex;
  padding: 1rem;
}

@media (min-width: 1001px) {
  .container {
    margin: 0 max(0px, calc(50vw - 1000px));
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 2rem;
  position: fixed;
  width: var(--margin);
  padding: 1rem;
  z-index: 2;
}

.logo {
  width: 100%;
  height: auto;
}

.main {
  width: 100%;
  min-width: 0;
  margin-left: var(--margin);
}

.burger {
  all: unset;
  cursor: pointer;
  color: var(--light-grey);
}

.burger > img {
  position: relative;
  right: -10%;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}

.menu :nth-child(3) {
  transform: translateY(0.3rem);
}

.menuItem {
  height: 100%;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}

.menuItem > img {
  width: auto;
  height: auto;
  min-width: 0;
}

/* desktop */
@media (min-width: 1001px) {
  .menu :nth-child(2) {
    transform: translateX(-0.2rem);
    padding-left: 35%;
  }
  .menu :nth-child(3) {
    padding-left: 10%;
  }
}

/* mobile */
@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .nav {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    position: unset;
    width: 100%;
    gap: 0;
  }

  .main {
    margin: 0;
  }

  .logo {
    width: min(60vw, 260px);
  }

  .menu {
    display: grid;
    grid-template-rows: 36px 32px 30px;
    position: absolute;
    top: 115px;
    left: 0px;
    width: 100%;
    align-items: center;
    background-color: white;
    padding: 1rem 0 2rem;
    z-index: 1;
  }

  .menuItem {
    justify-content: center;
  }
}
