.container {
  display: flex;
  padding: 1rem;
}

@media (min-width: 1000px) {
  .container {
    margin: 0 max(0px, calc(50vw - 800px));
  }
}

.nav {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  flex: 0 0 250px;
  margin: 1rem;
  min-width: 0;
  gap: 2rem;
  position: fixed;
}

.main {
  min-width: 0;
  margin-left: 280px;
}

.menu {
  all: unset;
  cursor: pointer;
  color: var(--light-grey);
}

.menuItems {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

@media (max-width: 1000px) {
  .container {
    flex-direction: column;
    padding: 0;
  }

  .nav {
    flex-direction: row;
    flex: unset;
    justify-content: space-between;
    position: unset;
  }

  .main {
    margin: 0;
  }

  .menuItems {
    position: absolute;
    top: 115px;
    left: 0px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 1rem 0;
    z-index: 1;
  }
}
